<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>All Listings</title>
  </head>
  <body>
    <%- include('../partials/_navbar') %>
    <h1>Here's all the Listings</h1>
    <a href="/listings/new">Add a New Listing</a>
  </body>
</html>